{% extends 'css3two_blog/blog_base.html' %}
{% load static %}
{% load mytags %}

{% block content %}
    <div class="blog-index grid">
        {#        {% for blogpost in blogposts|slice:sl %}#}
        {% for blogpost in blogposts %}
            {% autoescape off %}
                <article class="item">
                    {{ blogpost.display_html }}
                    <header>
                        <h1 class="title-link center">
                            <a href="{{ blogpost.get_absolute_url }}"><b>{{ blogpost.title }}</b></a>
                        </h1>
                    </header>
                </article>
            {% endautoescape %}
        {% endfor %}
    </div>
{#    <div class="pagination">#}
{#        {% if newer_page %}#}
{#            <a class="next" href="/{{ newer_page }}/">← Prev</a>#}
{#        {% endif %}#}
{#        <a href="/blog/archive">Blog Archives</a>#}
{#        {% if prev_page %}#}
{#            <a class="prev" href="/{{ prev_page }}/">Next →</a>#}
{#        {% endif %}#}
{#    </div>#}
{% endblock content %}
