{% extends 'css3two_blog/blog_base.html' %}
{% load static %}
{% load mytags %}

{% block content %}
    <div class="blog-index grid">
        {% for blogpost in blogposts|slice:sl %}
            {% autoescape off %}
                <article class="item">
                    {{ blogpost.display_html }}
                    <header>
{#                        <p class="meta">#}
{#                            <time pubdate="{{ blogpost.pub_date }}" data-updated="{{ blogpost.last_edit_date }}">#}
{#                                {{ blogpost.pub_date|date:'M'|upper }}#}
{#                                {{ blogpost.pub_date|date:"dS"|upper|stripleadingzero }}, {{ blogpost.pub_date.year }}#}
{#                            </time>#}
{#                        </p>#}
                        <h1 class="title-link center">
                            <a href="{{ blogpost.get_absolute_url }}"><b>{{ blogpost.title }}</b></a>
                        </h1>
                    </header>
                </article>
            {% endautoescape %}
        {% endfor %}
    </div>
    <div class="pagination">
        {% if newer_page %}
            <a class="next" href="/{{ newer_page }}/">← Next</a>
        {% endif %}
        <a href="/blog/archive">Blog Archives</a>
        {% if prev_page %}
            <a class="prev" href="/{{ prev_page }}/">Prev →</a>
        {% endif %}
    </div>
{% endblock content %}
